/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  background-color: var(--ifm-background-surface-color);
  padding: 0 1em;
}

.divider > div {
  max-width: max(966px, 70%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
}

.divider h3 {
  margin: 0;
}

.divider a {
  color: white;
  text-decoration: none;
}

.divider a:hover {
  color: var(--ifm-link-hover-color);
}

@media screen and (max-width: 500px) {
  .divider {
    display: none;
  }
}

.feature {
  display: flex;
  max-width: max(966px, 70%);
  margin: 1em auto;
  padding: 0 1em;
  gap: 2em;
}

@media screen and (max-width: 966px) {
  .feature {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.feature > * {
  flex: 1;
}

.feature .content {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featureNum {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  border: solid 3px var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  margin-right: 0.5em;
  font-family: var(--ifm-font-family-monospace);
}

.codeBlock {
  background-color: rgb(28, 29, 33);
  border-radius: 1em;
}

.codeBlock pre {
  padding: 0.5em 1em !important;
}

.codeBlockTitle {
  padding: 0.5em 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
  font-weight: bold;
}
